/*FOOTER DE INDEX*/
.footer__Principal {
        ul{
            background-color:rgba(165, 165, 165, 0.507);
            padding: 10px 50px;
            width: 100%;
            font-size: small;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
                a {
                    color: #212529;
                }
    }
}

/*FOOTER DEL RESTO DEL SITIO*/
.footer__Enlaces {
    ul{
        background-color:rgba(165, 165, 165, 0.507);
        padding: 10px 50px;
        width: 100%;
        font-size: small;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        bottom: 0;
            a {
                color: #212529;
            }
}
}

