    html { 
        font-family: var(--bs-font-monospace);
        color: white;
        background-color: rgb(114, 114, 114);
        background: linear-gradient(to bottom,#212529 10%, #ebebeb 100%);
    }
    ol {
        list-style-type: none;
    }
    ul {
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: white;
    }