@charset "UTF-8";
.header {
  width: 100%;
  height: 100px; }

.header__titulo {
  font-style: italic;
  font-size: 50px;
  margin-left: 50px; }
  .header__titulo a {
    text-decoration: none;
    color: white; }
    .header__titulo a a:hover {
      font-weight: 700; }

/*FOOTER DE INDEX*/
.footer__Principal {
  background-image: url(../img/sky1.jpg); }
  .footer__Principal ul {
    padding: 10px 50px;
    width: 100%;
    font-size: smaller;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px; }

/*FOOTER DEL RESTO DEL SITIO*/
.footer__Enlaces {
  padding: 10px 50px; }
  .footer__Enlaces ul {
    width: 100%;
    font-size: smaller;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px; }

ol {
  list-style-type: none; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: white; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: url("https://fonts.googleapis.com/css2?family=Benne&display=swap");
  /*Fuente Benne*/
  color: white;
  background-color: #727272;
  background: linear-gradient(to bottom, #212529 10%, #ebebeb 100%); }

/* Transiciones */
.trans {
  transition: all; }

.trans:hover {
  border: 3px solid white;
  background-image: linear-gradient(to bottom, #4b4b4b 0%, #929292 100%); }

/* Transformaciones */
.escalar {
  transform: scale(1, 1);
  margin: 20px; }

/*DISTRIBUCIÓN CON GRID - TUVE QUE HACER UN SECTION YA QUE EN EL ARTICLE NO ANDABA*/
/* Desktop */
/*main {
        margin: 35px;
            section {
                padding: 10px;
            }
            aside {
                padding: 0px;
                grid-area: lateral;
                border: 1px solid white;
                background-color: rgb(146, 146, 146);
            }
    }*/
/*.gridMain {
        display: grid;
        grid-template-areas: 
        "destacados lateral" 
        "ultimos none" 
        ;
        grid-template-columns: 4fr 2fr;
        grid-template-rows: 6fr 6fr;
        grid-column-gap: 40px;
        grid-row-gap:30px; 
        height: 120vh; 
    }*/
.articleDestacados {
  grid-area: destacados;
  border: 1px solid white;
  background-color: #929292; }

.articleUltimos {
  grid-area: ultimos;
  border: 1px solid white;
  background-color: #929292; }

.gradiente {
  background-color: #727272;
  background: linear-gradient(to bottom, #000000 10%, #ebebeb 100%); }

/* RESPONSIVE */
/* Smartphone */
@media (max-width: 599px) {
  header div {
    display: none; }
  .gridHeader {
    display: grid;
    grid-template-areas: "lista";
    justify-content: center; }
  .listaHeader {
    grid-area: lista; }
  /*aside {
        display: none;
    }*/ }

/*Imagen de fondo para sección Poetas*/
.fondo__Poetas {
  background-image: url(../img/coffee-6249312_1920.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 0px; }

/*Imagen de fondo para sección Poemas*/
.fondo__Poemas {
  background-image: url(../img/Ateneo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 0px; }

/*Imagen de fondo para sección Recursos*/
.fondo__Recursos {
  background-image: url(../img/liberiax.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px;
  height: 80vh; }

.boton__listaPoemas {
  background-color: #777777;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: default; }

/*Formulario de registro e inicio de sesión*/
#fondoform {
  border-radius: 5px;
  background-color: lightgray;
  padding: 20px;
  height: 80vh; }

#fondoform input[type=text], select {
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

#fondoform input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

#fondoform input[type=submit]:hover {
  background-color: #45a049; }
