@import "_header.scss";
@import "_footer.scss";
@import "_generico.scss";
@import "_responsive.scss";

*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.listaPoemas {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
    li {
        position: relative;
        display: block;
        padding: 0.5rem 1rem;
        color: #212529;
        text-decoration: none;
        background-color: rgba(119, 119, 119, 0.774);
        border: 1px solid rgba(0, 0, 0, 0.125);
    }
}

.listaRecursos {
    li {
    margin-bottom: 10px;
    }
}

.listaPoetas {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
    li {
        position: relative;
        display: block;
        padding: 0.5rem 1rem;
        color: #212529;
        text-decoration: none;
        background-color: none;
        border: none;
    }
}

/*Imagen de fondo para sección Poetas*/
.fondo__Poetas {
    border-radius: 6px;
    background-image: url(../img/coffee-6249312_1920.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px;
}
/*Imagen de fondo para sección Poemas*/
.fondo__Poemas {
    border-radius: 6px;
    background-image: url(../img/Ateneo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px;
}
/*Imagen de fondo para sección Recursos*/
.fondo__Recursos {
    border-radius: 6px;
    background-image: url(../img/liberiax.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px;
    height: 85vh;
}

.boton__listaPoemas {
    background-color: rgb(119, 119, 119);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor:default;
}
/*Formulario de registro e inicio de sesión*/
#fondoform {
    border-radius: 6px;
    background-color:lightgray;
    text-align: center;
    padding: 120px 0;
}
#fondoform input[type=text], select {
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#fondoform input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#fondoform input[type=submit]:hover {
    background-color: #45a049;
}